# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Build output
dist/
build/
.cache/

# Netlify
.netlify/
